@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  color: hsl(219, 12%, 42%);
  background-color: hsl(210, 60%, 98%);
  display: flex;
  justify-content: center;
}

.time {
  color: hsl(219, 14%, 63%);
}

p {
  font-size: 1rem;
}

.comment {
  display: flex; 
  gap: 12px;
  padding: 10px;
  border-radius: 0.5rem;
  cursor:pointer;
}

img{
  object-fit:contain;
  width: 3rem;
  align-self: flex-start;
}

.name {
  color: hsl(224, 21%, 14%);
  font-weight: 800;
  margin-right: 0.25rem;
}

.name:hover {
  color: hsl(219, 85%, 26%);
}

.fa-circle{
  color: hsl(1, 90%, 64%);
  font-size: 0.75rem;
  margin-left: 6px;;
}